# Empêche la visualistion de l'arborescence, n'a rien à voir avec le
# le masquage du index.php

Options -Indexes

# Active le module de réécriture d'URL
RewriteEngine on

# Fixe les règles de réécriture d'URL. Ici, nous utiliserons une
# liste blanche.

# Toutes les URL qui ne correspondent pas à ces masques sont réécrites.
RewriteCond $1 !^(index\.php|assets/|robots_.txt)

# Toutes les autres URL vont être redirigées vers le fichier
# index.php

RewriteRule ^(.*)$ index.php/$1 [L]